.info {
  display: flex;
  gap: 0.5rem;
}
.infoContent {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  margin: 1rem 0;
}
.buttonCont {
  width: 100%;
  display: flex;
  justify-content: center;
}
.skelleton {
  background-color: var(--lightSkelletonColor);
}
