.formField {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  margin-bottom: 1.2rem;
  width: 100%;
  position: relative;
  font-family: var(--font-roboto);
}
.formField label {
  font-weight: 600;
}
.formField input {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  height: 48px;
  color: var(--darkTextColor);
  background-color: white;
}
.errorField input {
  border: 1px solid var(--errorColor);
}
.error {
  color: var(--errorColor);
  font-size: 0.8rem;
  position: absolute;
  left: 0;
  bottom: -1.4rem;
}
