:root {
  /* text */
  --titleColor: #eeeeee;
  --lightTextColor: #ffffff;
  --darkTextColor: #2d3748;

  /* backgrounds */
  --darkBackground: #010316;
  --background: #010316;
  --cardsBackground: #13132d;
  --lightSkelletonColor: #1d1d4d;
  --darkSkelletonColor: #151534;

  /* colors */
  --blueColor: #3540e8;
  --pinkColor: #e41ad6;
  --lightOrange: #feebcb;
  --orange: #dd6b20;
  --errorColor: #e73b21;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body#body {
  color: var(--lightTextColor);
  font-family: var(--font-roboto);
  background-color: var(--background);
}
#body main {
  min-height: calc(96.4vh - 56px - 56px);
}

h1 {
  font-weight: 600;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--titleColor);
}
