.form {
  width: 100%;
  max-width: 460px;
  padding: 40px 16px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.formHeader {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.formHeader h1 {
  font-size: 2rem;
}
.formHeader span {
  height: 1rem;
  font-size: 0.8rem;
  color: var(--errorColor);
}

/* Remember me */
.rememberMe {
  display: flex;
  gap: 1rem;
  align-items: center;
}

/* Register */
.register {
  font-size: 0.8rem;
}
.register a {
  color: var(--lightTextColor);
}

/* divider */
.divider {
  width: 90%;
  height: 1px;
  margin: 1rem auto;
  background-color: #363636;
}
/* forgot password */
.forgotPassword {
  font-size: 0.8rem;
  color: var(--titleColor);
}
.forgotPassword a {
  color: var(--lightTextColor);
}
