.card {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.userInfo {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.avatarCont {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
