.button {
  height: 56px;
  background-color: white;
  width: 100%;
  border-radius: 8px;
  border: none;
  color: var(--darkTextColor);
  font-weight: 600;
  font-size: 1rem;
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  font-family: var(--font-roboto);
  cursor: pointer;
}
